.banner {
    margin-top: 100px;
    position: relative;
    background-image: url("../../Assets/img/banner/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    z-index: 1;
}

.banner::before {
    content: "";
    display: block;
    background: #000;
    opacity: 37%;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.banner::after {
    content: "";
    display: block;
    background-image: url("../../Assets/img/banner/banner-rect.svg");
    background-position: top right;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: calc(50% + 170px);
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    @media (max-width:767px) {
        content: none;
    }
    @media (max-width:991px) {
        width: calc(42% + 420px);
        left: -230px;
    }
}

.banner-head {
    text-transform: uppercase;
    font-family: 'oswald';
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
    text-align: start;

    @media (max-width:767px) {
        color: #fff;
        line-height: 38px;
        font-size: 28px;
    }
    @media (max-width:991px){
        font-size: 34px;
        line-height: 48px;
    }
}

.banner-para {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 16px;

    @media (max-width:767px) {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
    }
    @media (max-width:991px){
        font-size: 17px;
        letter-spacing: -0.52px;
    }
}